<h1>Contact Farmers Fitness</h1>
<section>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-3 control-label" for="name">Full Name:</label>
            <div class="col-sm-9"><input class="form-control" name="name" id="name" type="text" data-ng-model="contactForm.name" /></div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="email">Email: </label>
            <div class="col-sm-9"><input class="form-control" name="email" id="email" type="email" data-ng-model="contactForm.email" /></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="phone">Phone Number :</label>
            <div class="col-sm-9"><input class="form-control" name="phone" id="phone" type="tel" data-ng-model="contactForm.phone" /></div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="message">Message </label>
            <div class="col-sm-9"><textarea class="form-control" name="message" rows="7" id="message" data-ng-model="contactForm.message"></textarea></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input name="contact" id="contact" value="1" type="hidden">
                <input class="btn btn-primary" name="Submit" value="Submit" type="submit">
            </div>
        </div>
    </form>
</section>
<aside>
    <h5>Address </h5>
    <p>Farmer's Fitness Repair &amp; Services<br />
        3219 E. Camelback Rd. Suite   826<br />
        Phoenix, AZ 85018</p>

    <h5>Phone / Fax </h5>
    <p>Tel: 602-722-9880<br />
        Fax: 602-926-2231</p>

    <h5>Email </h5>
    <p><strong>Service</strong><br>
        <a href="mailto:service@farmersfitness.com" title="Service@FamersFitness.com">Service@FamersFitness.com</a><br>
        <br>
        <strong>General   Information</strong><br>
        <a href="mailto:info@farmersfitness.com" title="Info@FarmersFitness.com">Info@FarmersFitness.com</a><br>
    </p>	  </aside>