<footer>
    <nav>
        <ul class="nav nav-pills nav-justified">
            <li><a href="/home" title="Home">Home</a></li>
            <li><a href="/services/aboutourservices" title="Services">Services</a></li>
            <li><a href="/services/pmcontracts" title="PM Contracts">PM Contracts</a></li>
            <li><a href="/gymmoves" title="Gym Moves">Gym Moves</a></li>
            <li><a href="/servicerequest" title="Service Request">Service Request</a></li>
            <li><a href="/aboutus" title="About Us">About Us</a></li>
            <li><a href="/contactus" title="Contact">Contact</a></li>
            <li><a href="/sitemap" title="SiteMap">SiteMap</a></li>
        </ul>
    </nav>
    <p class="text-muted">&#169; Farmers Fitness. All rights reserved.</p>
</footer>