<h1>Gym moves</h1>
<p>Farmer's  Fitness Repair and Services also specializes in the
    moving and setup of fitness  equipment in both consumer and commercial
    settings.&nbsp; We offer services  such as taking apart your equipment
    moving room to room or even house to  house.&nbsp; We also offer the
    service of preparing your equipment to be moved  by others (eg: Van
    Lines) and securing that  it's taken apart properly.</p>
<p>So whether  you have one treadmill or 50 weight system pieces
    Farmer's Fitness can handle  the moving of your equipment efficiently
    and safely.</p>
<p>Contact our  office for more details.</p>