<h1>Labor Warranty Programs</h1>

<p>Farmer's  Fitness Repair and Services offers extended labor
    warranty programs for your  fitness equipment.&nbsp; We offer 2 or 3
    year programs that cover all labor  expenses, including diagnostics and
    part installations.&nbsp; Most manufactures  only give 1 year of labor
    coverage on your equipment, Farmer's Fitness now  offers a solution to
    this lack in labor coverage by offering this very  affordable program.</p>

<p><a href="#/contact">Contact</a> our office for more details.</p>