<h1>Preventative Maintenance Service Agreement</h1>
<p><strong>Farmer's Fitness Repair and   Services,</strong>
    Preventative Maintenance programs are a great way to get the   most out
    of your investment! We work with you to set up monthly, bi-monthly, or
    quarterly routine maintenance schedule. During preventative
    maintenance visits   we:</p>
<ul>
    <li>Inspect and test product safety features / mechanisms </li>
    <li>Inspect and adjust drive, timing and running belts </li>
    <li>Check for worn cables, belts and pulleys </li>
    <li>Clean an lubricate chains, bearings and guide rods </li>
    <li>Check and log mileage, amp draw and diagnostics / error codes </li>
    <li>Check auto-lube wax levels and motor brushes / communicator </li>
    <li>Adjust / tighten loose hardware, cables and belts, belt tracking </li>
    <li>Perform full functional tests </li>
    <li>Thoroughly wipe down equipment, vacuum under motor cover side covers </li>
    <li>Perform all maintenance tasks recommended by individual manufactures </li>
</ul>
<p>Routine maintenance can identify potential failures <em><span style="text-decoration: underline">before</span> </em>they
    occur and increase the lifetime of your equipment and wear and tear
    items, including belts, decks, motors, pulleys, etc.This ultimately
    provides a   safer and more enjoyable fitness environment for your
    clientele.</p>
<p>Preventative Maintenance programs are custom to the individual
    facility.   Price is based on number of pieces and number of scheduled
    Preventative   Maintenance visits (i.e. monthly, bi-monthly, or
    quarterly). Should you   experience equipment down-times we, will be on
    location to diagnose and fix the   problem within 48 hours,
    Monday-Friday at <span style="text-decoration: underline"><em>NO ADDITIONAL CHARGE</em></span>.   This is a
    courtesy to our customer and guarantee of performing the most
    extensive Preventative Maintenance visits in the industry.</p>