<h1>{{Page.title()}}</h1>
        <ul>
            <li><a href="#/home" title="Home">Home</a> </li>
            <li><a href="#/aboutus" title="About Us">About Us</a> </li>
            <li><a href="#/contactus" title="Contact Us">Contact Us</a> </li>
            <li><a href="#/gymmoves" title="Gym Moves">Gym Moves</a> </li>
            <li><a href="#/services/laborwarranty" title="Labor Warranty">Labor Warranty</a> </li>
            <li><a href="#/services/pmcontracts" title="Preventative Maintenance">Preventative Maintenance</a> </li>
            <li><a href="#/servicerequest" title="Service Request">Service Request</a> </li>
            <li><a href="#/aboutourservices" title="Fitness Repair Services">Fitness Repair Services</a> </li>
        </ul>